.scroll-arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  opacity: 0.7;
  animation: bounce 1.2s infinite;
  pointer-events: none;


   pointer-events: auto;
  cursor: pointer;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -8px);
  }
}
